<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbrc.plato.core.basic.dao.BankMapper">
  <resultMap id="BaseResultMap" type="com.cbrc.plato.core.basic.model.Bank">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="dep_id" jdbcType="INTEGER" property="depId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="statistic" jdbcType="INTEGER" property="statistic" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, short_name, group_id, dep_id, description, statistic, param1
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qnyj_bank
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByGroupId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qnyj_bank
    where group_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qnyj_bank
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qnyj_bank
    where name = #{name,jdbcType=VARCHAR}
    or short_name = #{name,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qnyj_bank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cbrc.plato.core.basic.model.Bank">
    insert into qnyj_bank (id, name, short_name, 
      group_id, dep_id, description, statistic
      param1)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=INTEGER}, #{depId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{statistic,jdbcType=INTEGER}, #{param1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cbrc.plato.core.basic.model.Bank">
    insert into qnyj_bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="depId != null">
        dep_id,
      </if>statistic
      <if test="description != null">
        description,
      </if>
      <if test="statistic != null">
        statistic,
      </if>
      <if test="param1 != null">
        param1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="depId != null">
        #{depId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="statistic != null">
        #{statistic,jdbcType=INTEGER},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cbrc.plato.core.basic.model.Bank">
    update qnyj_bank
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="depId != null">
        dep_id = #{depId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>statistic
      <if test="statistic != null">
        statistic = #{statistic,jdbcType=INTEGER},
      </if>
      <if test="param1 != null">
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cbrc.plato.core.basic.model.Bank">
    update qnyj_bank
    set name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=INTEGER},
      dep_id = #{depId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      statistic = #{statistic,jdbcType=INTEGER},
      param1 = #{param1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>