<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbrc.plato.user.dao.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.cbrc.plato.user.model.RolePermission">
    <id column="rp_id" jdbcType="INTEGER" property="rpId" />
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
    <result column="param2" jdbcType="VARCHAR" property="param2" />
  </resultMap>
  <sql id="Base_Column_List">
    rp_id, permission_id, role_id, create_time, param1, param2
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qnyj_role_permission
    where rp_id = #{rpId,jdbcType=INTEGER}
  </select>

  <select id="selectByRoleIdAndPermissionId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qnyj_role_permission
    where role_id = #{rid,jdbcType=INTEGER}
    and permission_id = #{pid,jdbcType=INTEGER}
  </select>

  <select id="selectPermisionsByRoleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select
    permission_id
    from qnyj_role_permission
    where role_id = #{rid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qnyj_role_permission
    where rp_id = #{rpId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByRoleId" parameterType="java.lang.Integer">
    delete from qnyj_role_permission
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.cbrc.plato.user.model.RolePermission">
    insert into qnyj_role_permission (rp_id, permission_id, role_id, 
      create_time, param1, param2
      )
    values (#{rpId,jdbcType=INTEGER}, #{permissionId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}
      )
  </insert>


  <insert id="insertSelective" parameterType="com.cbrc.plato.user.model.RolePermission">
    insert into qnyj_role_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rpId != null">
        rp_id,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="param1 != null">
        param1,
      </if>
      <if test="param2 != null">
        param2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rpId != null">
        #{rpId,jdbcType=INTEGER},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cbrc.plato.user.model.RolePermission">
    update qnyj_role_permission
    <set>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="param1 != null">
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
    </set>
    where rp_id = #{rpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cbrc.plato.user.model.RolePermission">
    update qnyj_role_permission
    set permission_id = #{permissionId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR}
    where rp_id = #{rpId,jdbcType=INTEGER}
  </update>
</mapper>